.navigation {
  /* border: 1px solid green; */
  position: relative;
}
.navigation_tabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.indicator {
  border: 1px solid #e20074;
  margin-top: 5px;
  position: absolute;
  bottom: -5px;
  transition: all 0.4s ease;
}
